.App-wrapper {
  text-align: center;
}

body {
  font-family: 'Noto Sans Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(17, 17, 17);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 880px;
  text-align: left;
}

.headers {
  color: #EAEAEA;
  font-size: 1.7rem;
  text-align: left;
}

.years {
  color: #686868;
  font-size: 1.2rem;
}

.job-titles {
  color: #EAEAEA;
  font-size: 1.2rem;
  text-decoration: none;
  cursor: pointer;
}

.job-desc {
  color: #686868;
  font-size: 1.2rem;
}

.headline {
  color: #EAEAEA;
  font-size: 3.5rem;

}

.normal-text {
  color: #686868;
  font-size: 1.2rem;

}

.navbar {
  margin: 10px;
}

.max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-items {
  margin-left: 20px;
  color: #EAEAEA;
  list-style: none;
}

li:hover {
  color: red;
  font-weight: 600;
  transition: ease-in-out;
  font-size: larger;
}

.navlist {
  align-items: right;
  display: flex;
}

.experience-grid-wrapper {
  display: grid;
  grid-gap: 0.8rem;
  grid-template-columns: repeat(2, 1fr);
  max-width: 880px;
  padding-inline-start: 0px;
  padding-inline-end: 0px;
  width: 100%;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-bottom: 2.5rem;
}